<h2>Register</h2>

<form {{action "createUser" on="submit"}}>
  <div {{bindAttr class=":controls errors.name:error"}}>
    <label>Full Name</label>
    {{input type="text" value=name placeholder="Full Name"}}
    <small class="below">{{errors.name}}</small>
  </div>

  <div {{bindAttr class=":controls errors.email:error"}}>
    <label>Email Address</label>
    {{input type="email" value=email placeholder="Email Address"}}
    <small class="below">{{errors.email}}</small>
  </div>

  <div {{bindAttr class=":controls errors.username:error"}}>
    <label>Username</label>
    {{input type="text" value=username placeholder="Username"}}
    <small class="below">{{errors.username}}</small>
  </div>

  <div {{bindAttr class=":controls errors.password:error"}}>
    <label>Password</label>
    {{input type="password" value=password placeholder="Password"}}
    <small class="below">{{errors.password}}</small>
  </div>

  <div {{bindAttr class=":controls errors.password_confirmation:error"}}>
    <label>Confirm Password</label>
    {{input type="password" value=password_confirmation placeholder="Confirm Password"}}
    <small class="below">{{errors.password_confirmation}}</small>
  </div>

  <br>
  <button type="submit">Submit</button>
</form>