<h2>Register</h2>

<form {{action "createUser" on="submit"}}>
  <div>
    <label>Full Name</label>
    {{input type="text" value=name placeholder="Full Name"}}
  </div>

  <div>
    <label>Email Address</label>
    {{input type="email" value=email placeholder="Email Address"}}
  </div>

  <div>
    <label>Username</label>
    {{input type="text" value=username placeholder="Username"}}
  </div>

  <div>
    <label>Password</label>
    {{input type="password" value=password placeholder="Password"}}
  </div>

  <div>
    <label>Confirm Password</label>
    {{input type="password" value=password_confirmation placeholder="Confirm Password"}}
  </div>

  <br>
  <button type="submit">Submit</button>
</form>